.vscode
.vscode/
*.DS_Store
*.pyc
*.sqlite3
venv/
env/
**/profile_pics/**
.env
env_backup.txt
.python-version
zappa_settings.json
zappa_settings_backup.json
chat-api.zip
s3rule.json
tutorpal-api/api/prod_api_gateway_policy.json
tutorpal-api/api/api_gateway_policy.json
tutorpal-api/api_todo.txt
