.vscode
.vscode/
*.DS_Store
*.pyc
*.sqlite3
venv/
env/
**/profile_pics/**
.env
env_backup.txt
.python-version
zappa_settings.json
zappa_settings_backup.json
api_gateway_policy.json
chat-api.zip
s3rule.json
