.div-block {
  height: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.link-block {
  margin-left: 60px;
}

.link-block.w--current {
  margin-left: 60px;
}

.hero {
  display: block;
  padding-top: 0px;
  padding-bottom: 100px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.hero-image-mask {
  width: 100%;
  margin-left: 40px;
}

.hero-image {
  width: 100%;
  height: 100%;
  padding-top: 40px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0.5 auto;
  -ms-flex: 0 0.5 auto;
  flex: 0 0.5 auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.heading {
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 25px;
  line-height: 35px;
  font-weight: 400;
}

.bold-text {
  font-size: 25px;
  line-height: 25px;
}

.button {
  background-color: #000;
  font-family: Poppins, sans-serif;
}

.slider {
  background-color: transparent;
}

.button-2 {
  font-family: Poppins, sans-serif;
  font-size: 14px;
}

.right-arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 60px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 35px;
  margin-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.15);
}

.text-block {
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 60px;
}

.text-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Poppins, sans-serif;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
}

.div-block-4-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 60px;
}

.link-block-2 {
  margin-left: 60px;
  text-decoration: none;
}

.flex-container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.heading-2 {
  font-family: Poppins, sans-serif;
  font-size: 25px;
  line-height: 35px;
  font-weight: 400;
}

.button-3 {
  margin-top: 60px;
  background-color: #000;
  font-family: Poppins, sans-serif;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-top: 60px;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.heading-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.bold-text-2 {
  margin-left: 0px;
  font-size: 16px;
  line-height: 20px;
}

.div-block-5-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.div-block-5-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px none rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.columns {
  margin: 40px 60px 0px;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.paragraph {
  margin-top: 10px;
  font-family: Poppins, sans-serif;
}

.bold-text-3 {
  letter-spacing: 1px;
}

.image {
  margin: 0px 20px 20px 60px;
}

.text-block-3 {
  margin-left: 60px;
  font-family: Poppins, sans-serif;
  color: rgba(0, 0, 0, 0.5);
  font-style: italic;
}

.div-block-3-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 35px;
  margin-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  background-color: #000;
}

.text-block-2-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 16px;
}

.text-block-2-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 16px;
}

.div-block-3-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 35px;
  margin-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  background-color: #000;
  color: #000;
}

.heading-4 {
  position: relative;
  z-index: -200;
  margin-top: 0px;
  margin-left: 0px;
  opacity: 0;
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.paragraph-2 {
  width: 800px;
  margin-left: 60px;
}

.div-block-7 {
  display: block;
  margin-top: 60px;
  margin-right: 60px;
  margin-left: 60px;
}

.div-block-8 {
  margin-left: 250px;
}

.text-block-4 {
  margin-top: 0px;
  font-family: Poppins, sans-serif;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
}

.columns-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  padding-top: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.text-block-5 {
  margin-left: 0px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
}

.column {
  padding-left: 0px;
}

.columns-2-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  padding-top: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px none rgba(0, 0, 0, 0.15);
}

.button-4 {
  margin-top: 0px;
  background-color: #000;
  font-family: Poppins, sans-serif;
  font-size: 16px;
}

.div-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  margin-bottom: 20px;
}

.link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Poppins, sans-serif;
  font-size: 16px;
}

.text-block-2-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 16px;
}

.div-block-3-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 35px;
  margin-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  background-color: #000;
}

.div-block-7-copy {
  display: block;
  margin-top: 0px;
  margin-right: 60px;
  margin-left: 60px;
}

.slider-2 {
  height: 110vh;
  background-color: transparent;
}

.mask {
  overflow: visible;
}

.slide-nav {
  display: none;
}

.icon {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.left-arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button-5 {
  background-color: #000;
  font-family: Poppins, sans-serif;
  font-size: 14px;
}

.heading-4-copy {
  margin-top: 100px;
  margin-left: 0px;
  opacity: 1;
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.column-2 {
  display: block;
  margin-top: 50px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-4-copy {
  margin-top: 0px;
  margin-left: 0px;
  border-radius: 0px;
  opacity: 1;
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.div-block-10 {
  margin-top: -30px;
}

@media screen and (max-width: 767px) {
  .hero {
    padding: 40px 20px;
  }
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .hero-image-mask {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .flex-container-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

