.div-block {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  width: 80px;
  height: 100vh;
  background-color: #191970;
}

.column {
  padding-left: 0px;
}

.div-block-2 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-3 {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0px;
  padding: 5px 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.text-block {
  position: static;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  font-family: Poppins, sans-serif;
  font-size: 16px;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-right: 10px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image {
  margin-right: 20px;
}

.section-2 {
  margin-top: 5px;
  background-color: transparent;
}

.section-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #191970;
}

.link {
  margin-left: 30px;
  background-color: transparent;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}

.link-copy {
  margin-right: 20px;
  margin-left: 0px;
  padding: 9px 15px;
  border-radius: 8px;
  background-color: #fff;
  font-family: Roboto, sans-serif;
  color: #191970;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-left: 10px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.icon {
  margin-top: 0px;
}

.nav-menu {
  position: static;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
}

.nav-link {
  font-family: Poppins, sans-serif;
}

.nav-link-2 {
  font-family: Poppins, sans-serif;
}

.nav-link-3 {
  font-family: Poppins, sans-serif;
  color: #fff;
}

.navbar {
  background-color: transparent;
}

.menu-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav-menu-2 {
  display: none;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.navbar-2 {
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #41a8d3;
}

.nav-link-4 {
  font-family: Poppins, sans-serif;
  color: #fff;
}

.nav-link-4.w--current {
  border-bottom: 3px solid #fff;
  color: #fff;
}

.dropdown-toggle-2-copy {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 20px;
  padding: 9px 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-radius: 0px;
  background-color: transparent;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  text-align: left;
}

.dropdown-toggle-2-copy:hover {
  color: #000;
  font-size: 18px;
}

.dropdown-3 {
  width: 95%;
  margin-top: 0px;
  margin-left: -20px;
  text-align: center;
}

.text-block-20 {
  margin-left: 10px;
  font-family: Poppins, sans-serif;
  color: #41a8d3;
  font-size: 12px;
}

.nav-content-wrap-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-left: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: transparent;
  color: #41a8d3;
}

.navigation-dropdown-2 {
  position: absolute; 
  left: auto;
  z-index: 1;
  min-width: 0px;
  margin-top: 60px;
  margin-bottom: 0px;
  margin-left: -75px;
  padding-top: 0px;
  background-color: transparent;
}

.image-7 {
  border-radius: 100000px;
}

.name_profile_pic {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-left: 0px;
  padding: 10px;
  border-radius: 1000px;
  background-color: transparent;
}

.name_profile_pic:hover {
  background-color: transparent;
}

.text-block-18 {
  margin-top: -6px;
  margin-left: 10px;
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 15px;
  text-align: left;
}

.text-block-18:hover {
  font-size: 15px;
}

.dropdown-link-2 {
  position: relative;
  z-index: 25;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #283338;
  font-size: 16px;
  text-decoration: none;
}

.dropdown-link-2:hover {
  background-color: #fff;
  color: #7839f3;
}

.div-block-43 {
  position: static;
  left: 0px;
}

.dropdown-pointer-2 {
  position: relative;
  z-index: 0;
  margin: -50px 0px 0px 20px;
}

.dropdown-wrapper-2 {
  position: static;
  z-index: 1;
  width: 120%;
  overflow: hidden;
  min-width: 140px;
  margin-right: 10px;
  margin-left: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 4px -19px 35px 0 rgba(32, 53, 90, 0.08), 11px 11px 30px -10px rgba(32, 53, 90, 0.15);
}

.dropdown-wrapper-2.w--open {
  left: -97px;
  max-height: 100vh;
  min-width: 300px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 50px 25px -50px rgba(32, 53, 90, 0.15), 8px 18px 60px 4px rgba(0, 0, 0, 0.13);
}

.dropdown-title-2 {
  margin-bottom: 2px;
  margin-left: 1px;
  font-family: Poppins, sans-serif;
  color: #41a8d3;
  font-size: 15px;
  text-align: left;
}

.dropdown-title-2:hover {
  color: #41a8d3;
  font-size: 16px;
}

.body {
  background-color: rgba(65, 168, 211, 0.2);
}

.div-block-44 {
  height: auto;
  margin: 20px 5%;
  padding: 10px 20px 20px;
  background-color: #fff;
}

.div-block-45 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-2 {
  margin-left: 10px;
  font-family: Poppins, sans-serif;
  color: #41a8d3;
  text-decoration: none;
}

.heading {
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  color: #19323d;
  font-size: 30px;
}

.columns {
  height: 50px;
  margin-top: 10px;
  background-color: #19323d;
}

.column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  padding-left: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  padding-left: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.column-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-6 {
  height: 50px;
}

.column-7 {
  height: 50px;
}

.text-block-21 {
  margin-left: 0px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.div-block-46 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  margin-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.column-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.column-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.column-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.text-block-22 {
  font-family: Poppins, sans-serif;
  color: #19323d;
  font-weight: 400;
  text-align: center;
}

.button {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  height: 40px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

.columns-2 {
  width: 100%;
}

.column-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.loop {
  height: auto;
  margin-top: 20px;
}

.button-2 {
  border-radius: 8px;
  font-family: Poppins, sans-serif;
}

.column-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.columns-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-48 {
  display: block;
  height: auto;
  margin-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #19323d;
}

.text-block-23 {
  margin-top: 0px;
  padding-top: 10px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.paragraph {
  margin-top: 10px;
  font-family: Poppins, sans-serif;
  color: #fff;
  text-align: center;
}

.link-3 {
  color: #41a8d3;
}

.item {
  height: auto;
  margin-bottom: 20px;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}

.image-8 {
  border-radius: 100px;
}

.div-block-49 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.text-block-24 {
  margin-left: 10px;
  font-family: Poppins, sans-serif;
}

.div-block-50 {
  margin-left: 20px;
}

.text-block-25 {
  margin-top: 10px;
  font-family: Poppins, sans-serif;
}

.text-block-25-copy {
  margin-top: 0px;
  font-family: Poppins, sans-serif;
}

.text-block-26 {
  margin-bottom: 0px;
  margin-left: 20px;
  font-family: Poppins, sans-serif;
  color: #41a8d3;
}

.paragraph-2 {
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
}

.bold-text {
  font-size: 15px;
}

.div-block-51 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-9 {
  border-radius: 100px;
}

.text-block-27 {
  margin-top: 10px;
  font-family: Poppins, sans-serif;
  color: red;
}

.div-block-52 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button-3 {
  border-radius: 8px;
  background-color: #32cd32;
  font-family: Poppins, sans-serif;
}

.button-3-copy {
  margin-left: 20px;
  border-radius: 8px;
  background-color: #e91818;
  font-family: Poppins, sans-serif;
}

.column-15 {
  padding-top: 20px;
  padding-right: 20px;
}

.div-block-53 {
  overflow: auto;
  height: 55vh;
  padding: 20px 20px 10px;
  border-style: none;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  background-color: #fff;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.15);
}

.heading-2 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Poppins, sans-serif;
  font-size: 24px;
  line-height: 30px;
}

.paragraph-3 {
  font-family: Poppins, sans-serif;
}

.bold-text-2 {
  color: #32cd32;
  font-weight: 400;
}

.button-4 {
  width: 100%;
  background-color: #41a8d3;
  font-family: Poppins, sans-serif;
  color: #fff;
  text-align: center;
}

.tabs-menu-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  width: 30%;
  height: 78vh;
  margin-left: 20px;
  padding-top: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  font-family: Poppins, sans-serif;
}

.tabs-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.tabs-content {
  width: 100%;
  margin-right: 20px;
  margin-left: 20px;
  background-color: #fff;
}

.chat_item_away {
  margin-bottom: 20px;
}

.bold-text-6 {
  color: #000;
}

.italic-text {
  font-style: normal;
}

.text-block-39 {
  font-family: Poppins, sans-serif;
}

.chat_container {
  overflow: auto;
  width: 100%;
  height: 70vh;
  margin: 0px 20px 20px 0px;
  padding: 20px;
}

.chat_item_here {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.div-block-61 {
  width: 50%;
  height: auto;
  margin: 0px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #f5f5f5;
}

.paragraph-6 {
  margin-top: 5px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 12px;
}

.div-block-61-copy {
  width: 50%;
  height: auto;
  margin: 0px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: rgba(65, 168, 211, 0.35);
}

.text-block-40 {
  width: auto;
  margin-top: 5px;
  margin-left: 0px;
  font-family: Poppins, sans-serif;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  font-style: normal;
  text-align: right;
}

.tab-link-tab-1-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  padding-left: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.tab-link-tab-1-2:hover {
  background-color: #f5f5f5;
}

.tab-link-tab-1-2.w--current {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.tab-link-tab-1-2.w--current:hover {
  background-color: #f5f5f5;
}

.tab-link-tab-2 {
  background-color: #fff;
}

.tab-link-tab-3 {
  background-color: #fff;
}

.tab-link-tab-4 {
  background-color: #fff;
}

.tab-link-tab-5 {
  background-color: #fff;
}

.text-block-41 {
  margin-left: 20px;
  font-size: 14px;
}

.image-10 {
  border-radius: 100px;
}

.body-2 {
  background-color: rgba(65, 168, 211, 0.1);
}

.text-block-42 {
  font-family: Poppins, sans-serif;
}

.div-block-62 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
}

.div-block-63 {
  height: 40px;
  padding-left: 20px;
}

.columns-5 {
  display: block;
  margin-top: 0px;
  margin-right: 5%;
  margin-left: 5%;
  padding: 20px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
}

.body-3 {
  background-color: rgba(65, 168, 211, 0.2);
}

.image-11 {
  display: inline-block;
  border-radius: 200px;
}

.column-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-48-copy {
  display: block;
  height: auto;
  margin-top: 40px;
  margin-right: 5%;
  margin-left: 5%;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #19323d;
}

.bold-text-3 {
  width: 400px;
}

.text-block-32 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Poppins, sans-serif;
  font-size: 16px;
}

.button-10-copy {
  margin-left: 20px;
  border-radius: 10px;
  background-color: #87ceeb;
  font-family: Poppins, sans-serif;
}

.heading-3 {
  margin-top: 10px;
  font-family: Poppins, sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: 400;
}

.image-12 {
  opacity: 0.3;
}

.div-block-55 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: 60px;
  margin-left: 100px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.image-13 {
  border-radius: 1000000px;
}

.paragraph-7 {
  overflow: auto;
  height: 55vh;
  margin-top: 20px;
  padding-top: 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  font-family: Poppins, sans-serif;
  line-height: 24px;
}

.div-block-54 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.body-4 {
  background-color: rgba(65, 168, 211, 0.2);
}

.div-block-64 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  margin: 10px 5% 0px;
  padding: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

.text-block-43 {
  margin-left: 20px;
  font-family: Poppins, sans-serif;
}

.bold-text-7 {
  color: #19323d;
}

.bold-text-8 {
  color: #19323d;
}

.bold-text-9 {
  color: #19323d;
}

.bold-text-10 {
  color: #19323d;
}

.bold-text-11 {
  color: #19323d;
}

.div-block-65 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-right: 0%;
  margin-left: 20px;
  padding: 10px 10px 10px 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.lottie-animation {
  width: 100px;
}

.div-block-66 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-44 {
  margin-left: 20px;
  font-family: Poppins, sans-serif;
  color: #41a8d3;
}

.link-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.div-block-67 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60vh;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 4px dashed #41a8d3;
}

.body-5 {
  margin-bottom: 20px;
}

.div-block-68 {
  display: none;
  margin-left: 40px;
  padding-top: 0px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-4 {
  margin-top: 10px;
}

.div-block-22 {
  position: fixed;
  z-index: 21;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.div-block-23 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  overflow: auto;
  width: 800px;
  height: 400px;
  margin: auto;
  border-radius: 0px;
  background-color: #fff;
}

.div-block-24 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding: 30px;
  cursor: pointer;
}

.heading-10 {
  width: 100%;
  margin-left: 0px;
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.div-block-25 {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.button-10-copy-copy {
  margin-left: 0px;
  border-radius: 10px;
  background-color: #41a8d3;
  font-family: Poppins, sans-serif;
}

.image-14 {
  opacity: 0.5;
}

.div-block-77 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-78 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  margin-left: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-12 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  font-family: Poppins, sans-serif;
  color: #41a8d3;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.image-15 {
  width: 60px;
  border-radius: 100px;
}

.link-block-3 {
  margin-right: 20px;
}

.item-2 {
  height: auto;
  margin-bottom: 10px;
  padding: 0px 10px 0px 0px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background-color: transparent;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}

.div-block-79 {
  display: none;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.chat_item_here-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-field {
  margin-bottom: 0px;
  background-color: #fff;
  font-family: Poppins, sans-serif;
  color: #333;
}

.chat_container-2 {
  overflow: auto;
  width: 100%;
  height: 70vh;
  margin: 0px 20px 0px 0px;
  padding: 20px 20px 10px;
  border-radius: 0px;
  background-color: #fff;
  -o-object-fit: fill;
  object-fit: fill;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 0px none #000;
  background-color: #fff;
}

.div-block-61-copy-2 {
  width: 70%;
  height: auto;
  margin: 0px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: rgba(65, 168, 211, 0.35);
}

.div-block-80 {
  margin: 20px 30%;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 10px solid #19323d;
  border-radius: 0px;
  background-color: #fff;
  color: #333;
  background-clip: border-box;
}

.heading-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #19323d;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 26px;
  text-align: center;
}

.div-block-81 {
  width: 70%;
  height: auto;
  margin: 0px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #f5f5f5;
}

.form-block {
  display: block;
  margin-bottom: 0px;
}

.chat_item_away-2 {
  margin-bottom: 10px;
}

.body-6 {
  background-color: rgba(65, 168, 211, 0.2);
}

.text-block-45 {
  margin-top: 20px;
  font-family: Poppins, sans-serif;
  font-size: 18px;
}

.div-block-82 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-16 {
  margin-top: 0px;
  border-radius: 2000000px;
}

.div-block-83 {
  margin: 0px 22%;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 15px solid #19323d;
  border-radius: 20px;
  background-color: #fff;
  color: #333;
  background-clip: border-box;
}

.columns-8 {
  margin: 40px 40px 20px;
}

.paragraph-10 {
  margin: 10px 50px 0px;
  font-family: Poppins, sans-serif;
  text-align: left;
}

.text-field-2 {
  height: 40px;
  margin-bottom: 0px;
  border: 1px none #000;
  background-color: transparent;
  font-family: Poppins, sans-serif;
  color: #333;
}

.form-block-2 {
  display: block;
  margin-bottom: 0px;
  background-color: #dfdfdf;
}

.form-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1.5px;
  border-color: rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

.link-4 {
  text-decoration: none;
}

.div-block-84 {
  display: block;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: none;
  border-width: 2.5px;
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.25);
}

.bold-text-12 {
  color: #41a8d3;
  font-weight: 400;
}

.bold-text-13 {
  color: #41a8d3;
  text-decoration: none;
}

@media screen and (min-width: 1440px) {
  .nav-link-4.w--current {
    border-bottom: 4px solid #fff;
    color: #fff;
  }
  .nav-content-wrap-2:hover {
    font-size: 18px;
  }
  .dropdown-title-2:hover {
    font-size: 18px;
  }
  .div-block-44 {
    margin-right: 5%;
    margin-left: 5%;
  }
  .columns-4 {
    margin-top: 20px;
  }
  .column-15 {
    padding-top: 20px;
    padding-right: 20px;
  }
  .div-block-53 {
    overflow: auto;
    height: 50vh;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #fff;
  }
  .heading-2 {
    margin-top: 0px;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }
  .paragraph-3 {
    font-family: Poppins, sans-serif;
  }
  .bold-text-2 {
    color: #32cd32;
    font-weight: 400;
  }
  .button-4 {
    width: 100%;
    margin-top: 10px;
    background-color: #41a8d3;
    font-family: Poppins, sans-serif;
    text-align: center;
  }
  .upcoming_item {
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .tabs-content {
    width: 100%;
  }
  .chat_container {
    height: 70vh;
    margin-top: 0px;
    margin-left: 0px;
    padding-right: 20px;
  }
  .div-block-65 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .div-block-66 {
    width: auto;
  }
  .text-block-44 {
    margin-left: 20px;
    font-family: Poppins, sans-serif;
    color: #41a8d3;
    text-decoration: none;
  }
  .link-block-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 200px;
    text-decoration: none;
  }
  .div-block-67 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 65vh;
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 4px dashed #41a8d3;
  }
  .chat_container-2 {
    height: 70vh;
    margin-top: 0px;
    margin-left: 0px;
    padding-right: 20px;
  }
  .div-block-80 {
    margin-right: 30%;
    margin-left: 30%;
  }
  .div-block-83 {
    margin-right: 20%;
    margin-left: 20%;
  }
  .paragraph-10 {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1920px) {
  .div-block {
    width: 140px;
  }
  .text-block {
    font-size: 18px;
  }
  .link {
    margin-left: 60px;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    color: #fff;
    font-size: 18px;
  }
  .dropdown-toggle-2-copy {
    width: 100%;
  }
  .div-block-43 {
    margin-left: 60px;
  }
  .div-block-53 {
    overflow: auto;
    height: 37vh;
  }
  .upcoming_loop {
    position: static;
    overflow: visible;
    height: auto;
  }
  .tabs {
    margin-top: 20px;
  }
  .tabs-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 400px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .tab-link-tab-1 {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  }
  .tab-link-tab-1.w--current {
    font-family: Poppins, sans-serif;
  }
  .tabs-menu-2 {
    width: 20%;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  }
  .tabs-content {
    width: 100%;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  }
  .chat_container {
    margin-left: 0px;
  }
  .div-block-67 {
    height: 70vh;
  }
  .div-block-23 {
    width: 1200px;
    height: 600px;
  }
  .chat_container-2 {
    height: 70vh;
    margin-left: 0px;
    padding-top: 40px;
    padding-right: 5%;
    padding-left: 5%;
  }
  .div-block-80 {
    position: static;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
  }
  .div-block-83 {
    position: static;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    margin-right: 20%;
    margin-left: 20%;
  }
}

@media screen and (max-width: 991px) {
  .section-3 {
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .link {
    margin-left: 20px;
  }
  .link-copy {
    position: static;
    margin-left: 20px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .menu-button {
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 100px;
    background-color: #fff;
  }
  .container-2 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .name_profile_pic {
    margin-left: 0px;
  }
  .dropdown-pointer-2 {
    margin-right: 40px;
  }
  .div-block-48 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .div-block-53 {
    height: 65vh;
    margin-left: 0px;
  }
  .heading-2 {
    font-size: 24px;
  }
  .tabs-menu-2 {
    width: 60%;
  }
  .div-block-61 {
    width: 70%;
  }
  .div-block-61-copy {
    width: 70%;
  }
  .image-11 {
    margin-right: 20px;
  }
  .div-block-48-copy {
    padding-right: 20px;
    padding-left: 20px;
  }
  .bold-text-3 {
    width: auto;
  }
  .text-block-32 {
    width: auto;
  }
  .div-block-55 {
    margin-left: 100px;
  }
  .div-block-23 {
    width: 600px;
  }
  .div-block-61-copy-2 {
    width: 70%;
  }
  .div-block-80 {
    margin-right: 20%;
    margin-left: 20%;
  }
  .div-block-81 {
    width: 70%;
  }
  .text-block-45 {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 14px;
  }
  .div-block-83 {
    margin-right: 8%;
    margin-left: 8%;
  }
  .paragraph-10 {
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .section-3 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .link {
    margin-left: 10px;
    font-size: 13px;
  }
  .link-copy {
    font-size: 13px;
  }
  .navbar {
    margin-top: 10px;
  }
  .container-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-2 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .menu-button-2 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 13px;
    border-radius: 100px;
    background-color: #fff;
  }
  .div-block-6 {
    display: block;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .name_profile_pic {
    margin-left: 60px;
  }
  .columns {
    padding-right: 0px;
  }
  .text-block-21 {
    font-size: 14px;
  }
  .column-8 {
    padding-left: 0px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .column-9 {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .column-10 {
    padding-right: 20px;
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .column-11 {
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .button {
    margin-left: 10px;
  }
  .div-block-53 {
    height: 50vh;
    margin-right: 5%;
    margin-bottom: 20px;
    margin-left: 5%;
  }
  .button-4 {
    margin-top: 10px;
  }
  .tabs-menu-2 {
    width: 100%;
  }
  .div-block-61 {
    width: 80%;
  }
  .div-block-61-copy {
    width: 80%;
  }
  .column-16 {
    margin-bottom: 20px;
  }
  .body-4 {
    padding-bottom: 20px;
  }
  .div-block-64 {
    height: 100px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .text-block-43 {
    margin-left: 10px;
  }
  .div-block-61-copy-2 {
    width: 80%;
  }
  .div-block-81 {
    width: 80%;
  }
  .div-block-83 {
    margin-right: 10%;
    margin-left: 10%;
  }
  .columns-8 {
    margin-right: 20px;
    margin-left: 20px;
  }
  .div-block-84 {
    width: 100%;
    margin-right: 10%;
    margin-left: 10%;
  }
  .column-20 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (max-width: 479px) {
  .text-block {
    display: none;
    font-size: 14px;
  }
  .div-block-4 {
    margin-left: 0px;
    padding-right: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .image {
    margin-right: 10px;
  }
  .link {
    margin-left: 10px;
  }
  .container {
    margin-right: 0px;
    margin-left: 0px;
  }
  .navbar {
    margin-top: 10px;
  }
  .container-2 {
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .navbar-2 {
    margin-top: 10px;
  }
  .icon-2 {
    padding-top: 0px;
  }
  .menu-button-2 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 13px;
    border: 1px none #000;
    border-radius: 100px;
    background-color: #fff;
  }
  .dropdown-toggle-2-copy {
    margin-left: 0px;
  }
  .dropdown-3 {
    margin-right: 0px;
    margin-left: 0px;
  }
  .text-block-20 {
    display: none;
  }
  .image-7 {
    display: block;
  }
  .name_profile_pic {
    margin-left: 0px;
  }
  .text-block-18 {
    width: 100%;
    margin-top: 0px;
    margin-left: 20px;
    font-size: 16px;
  }
  .text-block-18:hover {
    font-size: 16px;
  }
  .link-block {
    display: none;
  }
  .nav-menu-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .div-block-44 {
    margin-right: 2%;
    margin-left: 2%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .column-15 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .div-block-53 {
    height: 55vh;
    margin-right: 2%;
    margin-left: 2%;
  }
  .tabs-menu-2 {
    margin-left: 10px;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .chat_container {
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .div-block-61 {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .div-block-61-copy {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .tab-link-tab-1-2 {
    margin-bottom: 0px;
    padding-left: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: left;
  }
  .text-block-41 {
    font-size: 14px;
  }
  .image-10 {
    display: none;
  }
  .div-block-63 {
    margin-top: 0px;
  }
  .div-block-64 {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .div-block-23 {
    width: auto;
    margin-right: 20px;
    margin-left: 20px;
  }
  .div-block-24 {
    margin-left: 0px;
  }
  .heading-10 {
    margin-left: 20px;
    text-align: left;
  }
  .chat_container-2 {
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .div-block-61-copy-2 {
    width: 80%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .div-block-80 {
    margin-right: 5%;
    margin-left: 5%;
  }
  .div-block-81 {
    width: 80%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .div-block-83 {
    margin-right: 5%;
    margin-left: 5%;
  }
  .columns-8 {
    margin-right: 0px;
    margin-left: 0px;
  }
  .div-block-84 {
    margin-right: 5%;
    margin-left: 5%;
  }
  .column-20 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

