.nav-content-wrap-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-left: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: transparent;
  font-family: Poppins, sans-serif;
  color: #41a8d3;
}

.navbar-2 {
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #41a8d3;
}

.dropdown-toggle-2-copy {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 20px;
  padding: 9px 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-radius: 0px;
  background-color: transparent;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  text-align: left;
}

.dropdown-toggle-2-copy:hover {
  color: #000;
  font-size: 18px;
}

.name_profile_pic {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-left: 0px;
  padding: 10px;
  border-radius: 1000px;
  background-color: transparent;
}

.name_profile_pic:hover {
  background-color: transparent;
}

.text-block-18 {
  margin-top: -6px;
  margin-left: 10px;
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 15px;
  text-align: left;
}

.text-block-18:hover {
  font-size: 15px;
}

.dropdown-3 {
  width: 95%;
  margin-top: 0px;
  margin-left: -20px;
  text-align: center;
}

.text-block-20 {
  margin-left: 10px;
  font-family: Poppins, sans-serif;
  color: #41a8d3;
  font-size: 12px;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0px;
  padding: 5px 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.dropdown-pointer-2 {
  position: relative;
  z-index: 0;
  margin: -50px 0px 0px 20px;
}

.nav-link-4 {
  font-family: Poppins, sans-serif;
  color: #fff;
}

.nav-link-4.w--current {
  border-bottom: 3px solid #fff;
  color: #fff;
}

.navigation-dropdown-2 {
  min-width: 140px;
}

.navigation-dropdown-2.w--open {
  left: auto;
  z-index: 1;
  width: 160%;
  max-height: none;
  min-width: 0px;
  margin-top: 80px;
  margin-bottom: 0px;
  margin-left: -75px;
  padding-top: 0px;
  background-color: transparent;
}

.dropdown-wrapper-2 {
  position: static;
  z-index: 1;
  overflow: hidden;
  min-width: 140px;
  margin-right: 10px;
  margin-left: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 4px -19px 35px 0 rgba(32, 53, 90, 0.08), 11px 11px 30px -10px rgba(32, 53, 90, 0.15);
}

.dropdown-wrapper-2.w--open {
  left: -97px;
  max-height: 100vh;
  min-width: 300px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 50px 25px -50px rgba(32, 53, 90, 0.15), 8px 18px 60px 4px rgba(0, 0, 0, 0.13);
}

.dropdown-title-2 {
  margin-bottom: 2px;
  margin-left: 1px;
  color: #41a8d3;
  font-size: 15px;
  text-align: left;
}

.dropdown-title-2:hover {
  color: #41a8d3;
  font-size: 16px;
}

.image-7 {
  border-radius: 100000px;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dropdown-link-2 {
  position: relative;
  z-index: 25;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #283338;
  font-size: 16px;
  text-decoration: none;
}

.dropdown-link-2:hover {
  background-color: #fff;
  color: #7839f3;
}

.div-block-43 {
  position: static;
  left: 0px;
}

.stuff {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  height: 46px;
  max-width: none;
  margin: 0px 0px 0px 40px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border: 1px none #fff;
  border-radius: 100px;
  background-color: #f5f5f5;
  color: #181818;
  font-size: 14px;
}

.stuff:focus {
  background-color: #f5f5f5;
  opacity: 1;
}

.image-2 {
  margin-right: 10px;
  margin-left: 10px;
  opacity: 0.4;
}

.search-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 46px;
  max-width: 200%;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border: 1px none #fff;
  border-radius: 4px;
  background-color: transparent;
  color: #181818;
  font-size: 14px;
}

.search-3:focus {
  border-radius: 8px;
  background-color: transparent;
  opacity: 1;
}

.search-3::-webkit-input-placeholder {
  font-family: Poppins, sans-serif;
}

.search-3:-ms-input-placeholder {
  font-family: Poppins, sans-serif;
}

.search-3::-ms-input-placeholder {
  font-family: Poppins, sans-serif;
}

.search-3::placeholder {
  font-family: Poppins, sans-serif;
}

.button-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 46px;
  max-width: 170px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 3px solid #000;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.button-8:hover {
  background-color: #fff;
  color: #000;
}

.button-8._100 {
  width: 100%;
  margin-left: -3px;
  border-style: solid;
  border-width: 2px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #69fdef;
  color: #000;
}

.button-8._100._5px-left {
  display: none;
  width: 100px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border: 3px none #f0a07c;
  border-radius: 20px;
  background-color: #f5f5f5;
  font-family: Poppins, sans-serif;
  color: grey;
  font-size: 14px;
  font-weight: 400;
}

.button-8._100._5px-left:hover {
  background-color: #f5f5f5;
  font-size: 16px;
  text-decoration: none;
}

.columns {
  margin-top: 40px;
  margin-left: 60px;
}

.div-block-52 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.t {
  width: 100px;
  border-radius: 100px;
}

.button-4 {
  width: 100%;
  background-color: #41a8d3;
  font-family: Poppins, sans-serif;
  color: #fff;
  text-align: center;
}

.button-3 {
  border-radius: 8px;
  background-color: #32cd32;
  font-family: Poppins, sans-serif;
}

.trending {
  overflow: auto;
  height: 65vh;
  margin-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.button-3-copy {
  margin-left: 20px;
  border-radius: 8px;
  background-color: #e91818;
  font-family: Poppins, sans-serif;
}

.text-block-23 {
  margin-top: 0px;
  padding-top: 10px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.heading {
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  color: #19323d;
  font-size: 30px;
}

.text-block-27 {
  margin-top: 10px;
  margin-left: 20px;
  font-family: Poppins, sans-serif;
  color: red;
}

.text-block-26 {
  display: none;
  margin-bottom: 0px;
  margin-left: 20px;
  font-family: Poppins, sans-serif;
  color: #41a8d3;
}

.div-block-48 {
  display: block;
  height: auto;
  margin-top: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #19323d;
}

.i {
  height: auto;
  margin-bottom: 10px;
  padding: 0px 10px 10px 0px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background-color: transparent;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}

.link-2 {
  margin-left: 10px;
  font-family: Poppins, sans-serif;
  color: #41a8d3;
  text-decoration: none;
}

.bold-text-2 {
  color: #32cd32;
  font-weight: 400;
}

.bold-text {
  font-size: 15px;
}

.div-block-44 {
  height: auto;
  margin: 20px 2%;
  padding: 10px 10px 20px;
  background-color: #fff;
}

.heading-2 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Poppins, sans-serif;
  font-size: 24px;
  line-height: 30px;
}

.div-block-51 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  margin-left: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-45 {
  display: none;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-2 {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 20px;
  font-family: Poppins, sans-serif;
}

.div-block-53 {
  position: static;
  overflow: auto;
  height: 55vh;
  margin-top: 0px;
  margin-right: 10px;
  padding: 20px 20px 10px;
  border-style: none;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  background-color: #fff;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.15);
}

.column-15 {
  padding-top: 20px;
  padding-right: 0px;
}

.paragraph-3 {
  font-family: Poppins, sans-serif;
}

.paragraph {
  margin-top: 10px;
  font-family: Poppins, sans-serif;
  color: #fff;
  text-align: center;
}

.div-block-54 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 46px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 0px 10px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-decoration: none;
}

.image-5 {
  margin-top: 3px;
  margin-left: 0px;
  border-radius: 100000px;
}

.text-block-21 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}

.text-block-21-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Poppins, sans-serif;
  color: grey;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}

.text-block-21-copy-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Poppins, sans-serif;
  color: grey;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}

.div-block-55 {
  position: static;
}

.body {
  background-color: rgba(65, 168, 211, 0.2);
}

.italic-text {
  font-style: normal;
}

.bold-text-6 {
  color: #000;
}

.tabs-content {
  width: 100%;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}

.chat_container {
  overflow: auto;
  width: 100%;
  height: 70vh;
  margin: 0px 20px 0px 0px;
  padding: 20px 20px 10px;
  border-radius: 0px;
  background-color: #fff;
  -o-object-fit: fill;
  object-fit: fill;
}

.tabs-menu-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  width: 30%;
  height: 78vh;
  margin-left: 20px;
  padding-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px none #000;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  font-family: Poppins, sans-serif;
}

.tabs-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.tab-link-tab-1-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  padding-left: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.tab-link-tab-1-2:hover {
  background-color: #f5f5f5;
}

.tab-link-tab-1-2.w--current {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5f5f5;
}

.tab-link-tab-1-2.w--current:hover {
  background-color: #f5f5f5;
}

.text-block-39 {
  font-family: Poppins, sans-serif;
}

.text-block-40 {
  width: auto;
  margin-top: 5px;
  margin-left: 0px;
  font-family: Poppins, sans-serif;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  font-style: normal;
  text-align: right;
}

.image-10 {
  border-radius: 100px;
}

.text-block-41 {
  margin-left: 20px;
  font-size: 14px;
}

.chat_item_away {
  margin-bottom: 10px;
}

.chat_item_here {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-6 {
  margin-top: 5px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 12px;
}

.div-block-61 {
  width: 70%;
  height: auto;
  margin: 0px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #f5f5f5;
}

.div-block-61-copy {
  width: 70%;
  height: auto;
  margin: 0px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: rgba(65, 168, 211, 0.35);
}

.div-block-63 {
  height: auto;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
}

.body-2 {
  background-color: rgba(65, 168, 211, 0.2);
}

.div-block-64 {
  margin: 0px 22%;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 15px solid #19323d;
  border-radius: 20px;
  background-color: #fff;
  color: #333;
  background-clip: border-box;
}

.loop {
  height: auto;
  margin-top: 20px;
}

.div-block-65 {
  display: block;
  height: auto;
  margin-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #19323d;
}

.div-block-66 {
  height: auto;
  margin: 20px 5%;
  padding: 10px 20px 20px;
  background-color: #fff;
}

.link-3 {
  color: #41a8d3;
}

.paragraph-2-copy {
  margin: 10px 0px 0px;
  padding-top: 10px;
  font-family: Poppins, sans-serif;
}

.body-3 {
  background-color: rgba(65, 168, 211, 0.2);
}

.bold-text-7 {
  color: #333;
}

.item-copy {
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 10px 10px 0px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}

.paragraph-2-copy {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  font-family: Poppins, sans-serif;
}

.image-9-copy {
  width: 100px;
  border-radius: 100px;
}

.text-block-27-copy {
  margin-top: 10px;
  margin-left: 20px;
  font-family: Poppins, sans-serif;
  color: #32cd32;
}

.div-block-51-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  margin-left: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-2-copy-copy {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  font-family: Poppins, sans-serif;
}

.paragraph-2-copy-copy {
  margin: 10px 0px 0px 20px;
  font-family: Poppins, sans-serif;
}

.bold-text-copy {
  font-size: 15px;
}

.div-block-67 {
  margin-top: 40px;
  margin-right: 5%;
  margin-left: 5%;
  padding: 10px 20px 20px;
  border-radius: 0px;
  background-color: #fff;
}

.bold-text-8 {
  width: 400px;
}

.image-11 {
  display: inline-block;
  width: 300px;
  max-width: 80%;
  border-radius: 200px;
}

.columns-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-right: 10%;
  margin-left: 10%;
  padding: 20px 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.text-block-32 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Poppins, sans-serif;
  font-size: 16px;
}

.div-block-68 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-3 {
  margin-top: 0px;
  font-family: Poppins, sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: 400;
}

.paragraph-7 {
  overflow: auto;
  height: auto;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  font-family: Poppins, sans-serif;
  line-height: 24px;
}

.column-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.b10 {
  margin-left: 0px;
  border-radius: 10px;
  background-color: #41a8d3;
  font-family: Poppins, sans-serif;
}

.div-block-69 {
  margin-left: 20px;
}

.body-4 {
  background-color: rgba(65, 168, 211, 0.2);
}
/* 
.div-block-22 {
  position: fixed;
  z-index: 21;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
} */

.div-block-23 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  overflow: auto;
  width: 800px;
  height: 400px;
  margin: auto;
  border-radius: 0px;
  background-color: #fff;
}

.div-block-24 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding: 30px;
  cursor: pointer;
}

.heading-10 {
  width: 100%;
  margin-left: 0px;
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.div-block-25 {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.paragraph-8 {
  overflow: auto;
  height: 55vh;
  margin-top: 20px;
  padding-top: 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  font-family: Poppins, sans-serif;
  line-height: 24px;
}

.div-block-70 {
  margin: 20px 10%;
  padding: 20px;
  background-color: #fff;
}

.div-block-22-copy {
  position: fixed;
  z-index: 21;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.button-9 {
  border-radius: 8px;
  font-family: Poppins, sans-serif;
}

.div-block-71 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-72 {
  display: block;
  margin-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.body-5 {
  background-color: rgba(56, 152, 236, 0.2);
}

.div-block-56 {
  overflow: auto;
  height: auto;
  margin: 40px 10% 20px;
  padding: 20px;
  background-color: #fff;
}

.review_bundle {
  margin-bottom: 20px;
}

.review_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-12 {
  border-radius: 10000px;
}

.text-block-33 {
  margin-left: 20px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

.text-block-34 {
  margin-left: 60px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

.paragraph-9 {
  margin-top: 10px;
  font-family: Poppins, sans-serif;
}

.div-block-73 {
  margin-right: 10%;
  margin-bottom: 20px;
  margin-left: 10%;
  padding: 10px 20px 20px;
  background-color: #fff;
}

.heading-11 {
  margin-top: 0px;
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.div-block-74 {
  display: block;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Poppins, sans-serif;
}

.text-block-42 {
  font-family: Poppins, sans-serif;
  font-size: 20px;
}

.columns-6 {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.div-block-75 {
  margin: 20px 40px;
}

.link-block-2 {
  width: 100%;
  margin-bottom: 10px;
  text-decoration: none;
}

.column-18 {
  padding-right: 0px;
  padding-left: 0px;
}

.body-6 {
  background-color: rgba(65, 168, 211, 0.2);
}

.heading-12 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  font-family: Poppins, sans-serif;
  color: #41a8d3;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.div-block-76 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.div-block-77 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-block-3 {
  margin-right: 20px;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1.5px;
  border-color: rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

.submit-button {
  height: 38px;
  background-color: #41a8d3;
  font-family: Poppins, sans-serif;
}

.form-block {
  display: block;
  margin-bottom: 0px;
  background-color: #dfdfdf;
}

.text-field {
  height: 40px;
  margin-bottom: 0px;
  border: 1px none #000;
  background-color: transparent;
  font-family: Poppins, sans-serif;
  color: #333;
}

.heading-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #19323d;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 26px;
  text-align: center;
}

.div-block-51-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  margin-left: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-51-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  margin-left: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-51-copy-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  margin-left: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-65-copy {
  display: block;
  height: auto;
  margin-top: 60px;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #19323d;
}

.t-copy {
  width: 60px;
  border-radius: 100px;
}

.i-copy {
  height: auto;
  margin-bottom: 10px;
  padding: 0px 10px 0px 0px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background-color: transparent;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}

.columns-8 {
  margin: 40px 40px 20px;
}

.div-block-78 {
  display: block;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: none;
  border-width: 2.5px;
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.25);
}

.image-13 {
  margin-top: 0px;
  border-radius: 2000000px;
}

.div-block-79 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-43 {
  margin-top: 20px;
  font-family: Poppins, sans-serif;
  font-size: 18px;
}

.bold-text-9 {
  color: #41a8d3;
  font-weight: 400;
}

.paragraph-10 {
  margin: 10px 50px 0px;
  font-family: Poppins, sans-serif;
  text-align: left;
}

.bold-text-10 {
  color: #41a8d3;
  text-decoration: none;
}

.link-4 {
  text-decoration: none;
}

.button-10 {
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 8px;
  background-color: #41a8d3;
  font-family: Poppins, sans-serif;
}

.div-block-80 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.heading-14 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  font-size: 28px;
}

.button-11 {
  width: 400px;
  margin-bottom: 10px;
  border-radius: 10000px;
  background-color: #191970;
  font-family: Poppins, sans-serif;
  text-align: center;
}

.div-block-81 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.b14 {
  width: 400px;
  margin-bottom: 10px;
  border-radius: 10000px;
  background-color: grey;
  font-family: Poppins, sans-serif;
  text-align: center;
}

.button-11-copy {
  width: 300px;
  margin-bottom: 10px;
  border-radius: 10000px;
  background-color: #191970;
  font-family: Poppins, sans-serif;
  text-align: center;
}

.button-11-copy-copy {
  width: 400px;
  margin-bottom: 10px;
  border-radius: 10000px;
  background-color: #41a8d3;
  font-family: Poppins, sans-serif;
  text-align: center;
}

.body-7 {
  background-color: rgba(65, 168, 211, 0.2);
}

.paragraph-11 {
  margin-right: 60px;
  margin-bottom: 20px;
  margin-left: 60px;
  font-family: Poppins, sans-serif;
  text-align: center;
}

.div-block-65-copy-copy {
  display: block;
  height: auto;
  margin: 60px 0px 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #19323d;
}

@media screen and (min-width: 1440px) {
  .nav-content-wrap-2:hover {
    font-size: 18px;
  }
  .nav-link-4.w--current {
    border-bottom: 4px solid #fff;
    color: #fff;
  }
  .dropdown-title-2:hover {
    font-size: 18px;
  }
  .stuff {
    width: 65%;
    margin-left: 40px;
    padding-left: 10px;
  }
  .search-3 {
    width: 100%;
    margin-right: 0px;
  }
  .button-4 {
    width: 100%;
    margin-top: 10px;
    background-color: #41a8d3;
    font-family: Poppins, sans-serif;
    text-align: center;
  }
  .columns-4 {
    margin-top: 20px;
  }
  .upcoming_item {
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .bold-text-2 {
    color: #32cd32;
    font-weight: 400;
  }
  .div-block-44 {
    margin-right: 5%;
    margin-left: 5%;
  }
  .heading-2 {
    margin-top: 0px;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }
  .div-block-53 {
    overflow: auto;
    height: 50vh;
    margin-top: 0px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #fff;
  }
  .column-15 {
    padding-top: 20px;
    padding-right: 20px;
  }
  .paragraph-3 {
    padding-bottom: 0px;
    font-family: Poppins, sans-serif;
  }
  .body {
    background-color: rgba(65, 168, 211, 0.2);
  }
  .tabs-content {
    width: 100%;
  }
  .chat_container {
    height: 70vh;
    margin-top: 0px;
    margin-left: 0px;
    padding-right: 20px;
  }
  .div-block-64 {
    margin-right: 20%;
    margin-left: 20%;
  }
  .div-block-66 {
    margin-right: 5%;
    margin-left: 5%;
  }
  .image-11 {
    width: 250px;
  }
  .columns-5 {
    margin-right: 10%;
    margin-left: 10%;
  }
  .div-block-69 {
    margin-left: 0px;
  }
  .columns-7 {
    margin: 40px;
    padding: 20px;
    background-color: #fff;
  }
  .body-6 {
    background-color: rgba(65, 168, 211, 0.2);
  }
  .column-19 {
    border-left: 1px solid #000;
  }
  .paragraph-10 {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1920px) {
  .dropdown-toggle-2-copy {
    width: 100%;
  }
  .div-block-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .div-block-43 {
    margin-left: 60px;
  }
  .stuff {
    width: 50%;
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .search-3 {
    width: 100%;
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }
  .upcoming_loop {
    position: static;
    overflow: visible;
    height: auto;
  }
  .div-block-44 {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .div-block-53 {
    overflow: auto;
    height: 35vh;
    margin-top: 0px;
  }
  .bold-text-3 {
    font-size: 14px;
  }
  .text-block-21-copy {
    font-size: 14px;
  }
  .text-block-21-copy-2 {
    margin-left: 60px;
  }
  .tabs-content {
    width: 100%;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  }
  .chat_container {
    height: 70vh;
    margin-left: 0px;
    padding-top: 40px;
    padding-right: 5%;
    padding-left: 5%;
  }
  .tabs-menu-2 {
    width: 20%;
    padding-top: 10px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  }
  .div-block-64 {
    position: static;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    margin-right: 20%;
    margin-left: 20%;
  }
  .columns-5 {
    margin-top: 60px;
    margin-right: 15%;
    margin-left: 15%;
  }
  .div-block-23 {
    width: 1200px;
    height: 600px;
  }
  .div-block-56 {
    overflow: visible;
    -o-object-fit: fill;
    object-fit: fill;
  }
  .button-11-copy-copy {
    background-color: #41a8d3;
  }
}

@media screen and (max-width: 991px) {
  .name_profile_pic {
    margin-left: 0px;
  }
  .text-block-18 {
    font-size: 14px;
  }
  .dropdown-pointer-2 {
    margin-right: 40px;
  }
  .navigation-dropdown-2 {
    margin-right: 20px;
  }
  .container-2 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .stuff {
    width: 65%;
    max-width: none;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #f5f5f5;
  }
  .image-2 {
    margin-right: 10px;
    margin-left: 10px;
  }
  .search-3 {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }
  .div-block-48 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .bold-text-2 {
    display: none;
  }
  .heading-2 {
    margin-bottom: 10px;
    font-size: 24px;
  }
  .div-block-53 {
    height: 42vh;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 10px;
    padding-left: 20px;
  }
  .div-block-54 {
    width: 600px;
  }
  .text-block-21-copy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 10px;
  }
  .text-block-21-copy-2 {
    margin-left: 20px;
  }
  .tabs-menu-2 {
    width: 60%;
  }
  .div-block-61 {
    width: 70%;
  }
  .div-block-61-copy {
    width: 70%;
  }
  .div-block-64 {
    margin-right: 8%;
    margin-left: 8%;
  }
  .div-block-65 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .bold-text-8 {
    width: auto;
  }
  .image-11 {
    width: 500px;
    margin-right: 20px;
  }
  .columns-5 {
    margin-right: 5%;
    margin-left: 5%;
  }
  .text-block-32 {
    width: auto;
  }
  .div-block-69 {
    margin-left: 10px;
  }
  .div-block-23 {
    width: 600px;
  }
  .div-block-65-copy {
    padding-right: 20px;
    padding-left: 20px;
  }
  .text-block-43 {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 14px;
  }
  .paragraph-10 {
    margin-right: 20px;
    margin-left: 20px;
  }
  .div-block-65-copy-copy {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-2 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .menu-button-2 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 13px;
    border-radius: 100px;
    background-color: #fff;
  }
  .dropdown-toggle-2-copy {
    display: none;
  }
  .name_profile_pic {
    margin-left: 20px;
    padding-right: 10px;
  }
  .text-block-18 {
    display: none;
  }
  .div-block-6 {
    display: block;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .image-7 {
    width: 100px;
    height: 46px;
  }
  .container-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .div-block-43 {
    display: block;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .stuff {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin-left: 10px;
    border-radius: 200px;
  }
  .image-2 {
    width: 20px;
    height: 20px;
    max-width: 90%;
    margin-right: 0px;
    margin-left: 0px;
  }
  .search-3 {
    margin-left: 0px;
    padding-left: 8px;
  }
  .button-4 {
    margin-top: 10px;
  }
  .trending {
    padding-right: 10px;
    padding-left: 10px;
  }
  .bold-text-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
  }
  .div-block-53 {
    position: static;
    height: 50vh;
    margin: 0px 0% 20px;
    padding-top: 20px;
    border-style: solid;
    border-width: 1px;
  }
  .column-15 {
    padding-top: 10px;
    padding-right: 10px;
  }
  .div-block-54 {
    width: auto;
    margin-right: 0px;
  }
  .bold-text-3 {
    line-height: 14px;
  }
  .text-block-21-copy-2 {
    margin-left: 20px;
  }
  .body {
    background-color: rgba(65, 168, 211, 0.2);
  }
  .tabs-menu-2 {
    width: 60%;
    padding-bottom: 0px;
  }
  .div-block-61 {
    width: 80%;
  }
  .div-block-61-copy {
    width: 80%;
  }
  .div-block-64 {
    margin-right: 10%;
    margin-left: 10%;
  }
  .div-block-67 {
    margin-top: 20px;
  }
  .image-11 {
    width: 380px;
    margin-right: 0px;
  }
  .columns-5 {
    margin-right: 0%;
    margin-bottom: 20px;
    margin-left: 0%;
  }
  .column-16 {
    margin-bottom: 20px;
  }
  .div-block-23 {
    width: 500px;
  }
  .columns-8 {
    margin-right: 20px;
    margin-left: 20px;
  }
  .column-20 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .div-block-78 {
    width: 100%;
    margin-right: 10%;
    margin-left: 10%;
  }
}

@media screen and (max-width: 479px) {
  .navbar-2 {
    margin-top: 10px;
  }
  .menu-button-2 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 13px;
    border: 1px none #000;
    border-radius: 100px;
    background-color: #fff;
  }
  .dropdown-toggle-2-copy {
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
  }
  .name_profile_pic {
    margin-left: 10px;
  }
  .link-block {
    display: none;
  }
  .text-block-18 {
    display: none;
    width: 100%;
    margin-top: 0px;
    margin-left: 10px;
    font-size: 14px;
  }
  .text-block-18:hover {
    font-size: 14px;
  }
  .dropdown-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .icon-2 {
    padding-top: 0px;
  }
  .text-block-20 {
    display: none;
  }
  .section {
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .image-7 {
    display: block;
    width: 64px;
    height: 46px;
  }
  .container-2 {
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .nav-menu-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .div-block-4 {
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .stuff {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin-left: 0px;
  }
  .image-2 {
    width: 20px;
    height: 20px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .button-8 {
    color: #fff;
    font-size: 14px;
  }
  .div-block-44 {
    margin-right: 5%;
    margin-left: 5%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .div-block-53 {
    height: 55vh;
    margin-right: 2%;
    margin-left: 2%;
  }
  .column-15 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .div-block-54 {
    width: 600px;
  }
  .text-block-21-copy-2 {
    margin-left: 20px;
  }
  .bold-text-6 {
    font-size: 12px;
    line-height: 16px;
  }
  .chat_container {
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .tabs-menu-2 {
    margin-left: 10px;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .tab-link-tab-1-2 {
    margin-bottom: 0px;
    padding-left: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: left;
  }
  .image-10 {
    display: none;
  }
  .text-block-41 {
    font-size: 14px;
  }
  .div-block-61 {
    width: 80%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .div-block-61-copy {
    width: 80%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .div-block-63 {
    margin-top: 0px;
  }
  .div-block-64 {
    margin-right: 5%;
    margin-left: 5%;
  }
  .div-block-66 {
    margin-right: 2%;
    margin-left: 2%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .image-11 {
    display: block;
    width: 180px;
    margin-right: 0px;
  }
  .columns-5 {
    margin-right: 0%;
    margin-left: 0%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .paragraph-7 {
    overflow: visible;
    width: auto;
  }
  .column-16 {
    display: none;
  }
  .div-block-69 {
    margin-left: 0px;
  }
  /* .div-block-22 {
    -o-object-fit: contain;
    object-fit: contain;
  } */
  .div-block-23 {
    overflow: visible;
    width: auto;
    margin-right: 20px;
    margin-left: 20px;
  }
  .div-block-24 {
    margin-left: 0px;
  }
  .heading-10 {
    margin-left: 20px;
    text-align: left;
  }
  .column-17 {
    overflow: visible;
    -o-object-fit: fill;
    object-fit: fill;
  }
  .columns-8 {
    margin-right: 0px;
    margin-left: 0px;
  }
  .column-20 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .div-block-78 {
    margin-right: 5%;
    margin-left: 5%;
  }
}

