.tabs-2 {
  margin-top: 60px;
  margin-right: 40px;
}

.tb7-copy {
  margin-top: 5px;
  color: #000;
  font-size: 14px;
  text-decoration: none;
}

.button {
  width: 80%;
  margin-top: 20px;
  margin-left: 20px;
  border: 2px solid #000;
  border-radius: 20px;
  background-color: #fff;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #000;
  font-size: 18px;
  text-align: center;
}

.button:hover {
  background-color: #f5f5f5;
  color: #000;
  font-size: 18px;
}

.dropdown-link {
  position: relative;
  z-index: 25;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #283338;
  font-size: 16px;
  text-decoration: none;
}

.dropdown-link:hover {
  background-color: #f5f5f5;
  color: #7839f3;
}

.text-block-23 {
  margin-top: 10px;
  color: #000;
  text-align: center;
}

.text-block-23-copy {
  margin-top: 10px;
  color: #000;
  font-size: 12px;
  text-align: center;
}

.text-block-6-copy {
  margin-left: 10px;
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 16px;
  text-align: center;
}

.text-block-6-copy:hover {
  font-size: 16px;
}

.text-block-24 {
  color: red;
}

.text-block-17 {
  margin-left: 10px;
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 15px;
  text-align: left;
}

.text-block-17:hover {
  font-size: 15px;
}

.dropdown-3 {
  width: 95%;
  margin-left: -31px;
  text-align: center;
}

.text-block-21 {
  font-family: Poppins, sans-serif;
  font-size: 15px;
}

.link-block {
  margin-left: 20px;
}

.link-block.w--current {
  margin-bottom: 10px;
}

.text-block {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 16px;
}

.tb7-copy-2 {
  margin-top: 10px;
  color: #000;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 46px;
  margin-top: 20px;
  margin-left: 10px;
  padding-top: 5px;
  padding-left: 20px;
}

.div-block-2:hover {
  background-color: #f5f5f5;
}

.dropdown-toggle-2-copy {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  margin-top: 10px;
  margin-left: 20px;
  padding: 9px 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-radius: 0px;
  background-color: transparent;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  text-align: left;
}

.dropdown-toggle-2-copy:hover {
  color: #000;
  font-size: 18px;
}

.tabs-content-2 {
  margin-top: 40px;
}

.div-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: Poppins, sans-serif;
}

.columns-5 {
  margin-bottom: 20px;
}

.navigation-dropdown {
  min-width: 140px;
}

.navigation-dropdown.w--open {
  left: 0px;
  width: 135%;
  max-height: none;
  min-width: 0px;
  margin-top: -275px;
  margin-bottom: 0px;
  margin-left: -80px;
  padding-top: 20px;
  background-color: transparent;
}

.link {
  margin-top: 7px;
  margin-left: 20px;
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 17px;
  text-decoration: none;
}

.link:hover {
  font-size: 18px;
}

.link.w--current:hover {
  font-size: 17px;
}

.image-2-copy {
  margin-left: 10px;
}

.dropdown-wrapper {
  overflow: hidden;
  min-width: auto;
  margin-left: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 4px -19px 35px 0 rgba(32, 53, 90, 0.08), 11px 11px 30px -10px rgba(32, 53, 90, 0.15);
}

.dropdown-wrapper.w--open {
  left: -97px;
  max-height: 100vh;
  min-width: 300px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 50px 25px -50px rgba(32, 53, 90, 0.15), 8px 18px 60px 4px rgba(0, 0, 0, 0.13);
}

.bold-text-3 {
  font-family: Poppins, sans-serif;
  font-size: 16px;
}

.image {
  margin-top: 5px;
  margin-left: 0px;
}

.div-block-43 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.img5-copy {
  margin-top: 7px;
  margin-left: -85px;
  border-radius: 10000px;
}

.nav-content-wrap-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-left: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.dropdown-pointer {
  position: relative;
  margin: -50px 0px 0px 20px;
}

.text-block-19 {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.tabs-menu-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.paragraph-9 {
  margin-top: 15px;
  font-family: Poppins, sans-serif;
  color: #000;
}

.button-16 {
  margin-left: 20px;
  border-radius: 1000px;
  background-color: red;
}

.div-block-5-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-5-copy:hover {
  background-color: #f5f5f5;
}

.heading {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.tab-pane-tab-1-2 {
  margin-top: 0px;
}

.div-block {
  position: static;
  left: 0.5%;
  top: 0%;
  right: auto;
  bottom: 0%;
  width: 40vh;
  height: auto;
  margin-top: -5px;
  margin-left: -10px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.daone-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 85px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.tb7-copy-3 {
  margin-top: 5px;
  color: #000;
  font-size: 14px;
  text-decoration: none;
}

.column-7 {
  padding-right: 10px;
}

.div-block-3 {
  height: auto;
  margin-top: 20px;
  margin-left: 20px;
  padding-bottom: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.15);
}

.dropdown-title {
  margin-bottom: 2px;
  margin-left: 0px;
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 16px;
  text-align: left;
}

.dropdown-title:hover {
  color: #000;
}

.image-3 {
  margin-right: 10px;
  margin-left: 0px;
  padding-bottom: 5px;
}

.text-block-24-copy {
  font-family: Poppins, sans-serif;
  color: green;
}

.div-block-42 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0px;
  background-color: #d3d3d3;
}

.button-17 {
  border-radius: 20px;
  background-color: green;
}

.div-block-39 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-left: 20px;
  padding: 10px;
  border-radius: 1000px;
  background-color: transparent;
}

.div-block-39:hover {
  background-color: hsla(0, 0%, 86.7%, 0.34);
}

.text-block-22 {
  color: #000;
  font-size: 25px;
}

.div-block-41 {
  margin-left: 0px;
  padding: 20px;
  border-radius: 20px;
  background-color: #f5f5f5;
}

.text-block-25 {
  margin-top: 15px;
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 16px;
}

.button-18 {
  margin-top: 10px;
  border-radius: 8px;
  font-family: Poppins, sans-serif;
}

.faq-question-wrap {
  position: static;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-right: 40px;
  padding-bottom: 0px;
  padding-left: 0px;
  cursor: pointer;
}

.faq-question-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px none rgba(0, 0, 0, 0.07);
  color: #1a1e27;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  text-decoration: none;
}

.question-title {
  margin-right: 10px;
  font-family: Poppins, sans-serif;
  color: #1e77db;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -0.03em;
}

.faq-content {
  position: static;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: block;
  overflow: hidden;
}

.div-block-49 {
  width: 100%;
  height: auto;
}

.faq-paragraph {
  margin-bottom: 0px;
  padding-top: 14px;
  padding-bottom: 14px;
  color: #485166;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: -0.03em;
}

.tab-link-tab-1 {
  border-radius: 20px;
}

.tab-link-tab-2 {
  border-radius: 20px;
}

.tab-link-tab-3 {
  border-radius: 0px;
}

.tab-link-tab-3.w--current {
  border-radius: 20px;
}

@media screen and (min-width: 1440px) {
  .nav-content-wrap-2:hover {
    font-size: 18px;
  }
  .div-block {
    width: 40vh;
    border-radius: 10px;
  }
  .dropdown-title:hover {
    font-size: 18px;
  }
  .tab-link-tab-3 {
    border-radius: 20px;
  }
}

@media screen and (min-width: 1920px) {
  .dropdown-toggle-2-copy {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .faq-question-wrap {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 479px) {
  .question-title {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}

