Django==3.2.7
psycopg2-binary==2.8.6
djangorestframework==3.12.4
django-cors-headers==3.8.0
django-dry-rest-permissions==1.2.0
paypal-payouts-sdk==1.0.0
paypal-checkout-serversdk==1.0.1
Pillow==8.3.2
python-dotenv==0.19.0
django-storages==1.11.1
zappa==0.53.0
zappa-django-utils==0.4.1
django-ses==2.2.1
troposphere==2.7.0